body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #AFC3D3;

}
.heder{
    position: absolute;
    background: transparent;
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titre{
    display: flex;
    width: 100%;
    background: transparent;
    flex-direction: column;
    position: relative;
    font-family: 'Rubik', sans-serif;
    color: #202938;
    font-size: 27px;
    font-weight: bolder;
    align-items: center;
}
span{
    color:#C3A955;
}
.btn{
    width: 200px;
    height: 50px;
    background: #C3A955;
    border: 1px rgba(255, 255, 255, 0.475) solid;
    outline: none;
    cursor: pointer;
    transition: 0.25s ease-in-out;
}
.btn:hover{
    background: #AF9645;
}
/*=================================================*/
.section1{
    background: linear-gradient(180deg, #41c3ea 0%, rgba(13, 108, 17, 0.00) 100%);
    width: 100%;
    height: 100dvh;
    position: relative;
    z-index: -1;
}
.backgrounds{
    position: absolute;
    width: 100%;
    height: 100dvh;

}
.backgrounds div{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    position: absolute;
    height: 100dvh;
    width: 100%;
    left: 0;
}
.background1{background: url(Media/montagne.png);}
.background2{background: url(Media/ice1.png);}
.background3{background: url(Media/ice2.png);}

/*=================================================*/
.section2{
    position: relative;
    top: 190px;
}
[class*='section2-']{
    display: flex;
    justify-content: space-between;
    background: transparent;
    position: relative;
}
[class*='media']{
    width: 400px;
    height: 400px;
    background: #A0A0A0;
    position: relative;
}
[class*='text']{
    width: 650px;
    height: 500px;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Poppins', sans-serif;
    position: relative;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #202938;
}
.media1{
    right: 5%;
    opacity: 0;
    background: url(Media/Atlas.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    animation: viewMedia1 linear forwards;
    animation-timeline: view();
    animation-range-start:bottom 0;
    animation-range-end:50%;
}
@keyframes viewMedia1{
    from{
        transform: translateX(100%);
    }
    to{
        opacity: 1;
        transform: translateX(5%);
    }
}
.text1{
    top: 20px;
    left: 5%;
    opacity: 0;
    animation: viewText1 linear forwards;
    animation-timeline: view();
    animation-range-start:bottom 0;
    animation-range-end:50%;
}
@keyframes viewText1{
    from{
        transform: translateX(-100%);
    }
    to{
        opacity: 1;
        left: 5%;
    }
}
.media2{
    left: 5%;
    opacity: 0;
    background: url(Media/ifrane-transformed.png);
    background-size: cover;
    background-repeat: no-repeat;
    animation: viewMedia2 linear forwards;
    animation-timeline: view();
    animation-range-start:bottom 0;
    animation-range-end:50%;
}
@keyframes viewMedia2{
    from{
        transform: translateX(-100%);
    }
    to{
        opacity: 1;
        left: 5%;
    }
}
.text2{
    top: 20px;
    right: 5%;
    animation: viewText2 linear forwards;
    animation-timeline: view();
    animation-range-start:bottom 0;
    animation-range-end:50%;
}
@keyframes viewText2{
    from{
        transform: translateX(100%);
    }
    to{
        opacity: 1;
        transform: translateX(5%);
    }
}
/*=============Section3====================*/
.section3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section3-title{
    color: #B2A05A;
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    opacity: 0;
    animation: viewTitile linear forwards;
    animation-timeline: view();
    animation-range-start:bottom 500px;
    animation-range-end:100%;
}
@keyframes viewTitile{
    from{
        transform: translateZ(100%);
    }
    to{
        scale: 1;
        opacity: 1;
        transform: translateZ(5%);
    }
}
.cover{
    width: 1335px;
    height: 100dvh;
    opacity: 0;
    background: #A0A0A0;
    background: url(Media/YZ7TV6HGPJB5JGSGMFQLVUXXXU.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    animation: viewCover linear forwards;
    animation-timeline: view();
    animation-range-start:bottom 500px;
    animation-range-end:30%;
}
@keyframes viewCover{
    from{
        transform: translateZ(100%);
    }
    to{
        scale: 1;
        opacity: 1;
        transform: translateZ(5%);
    }
}
.section3 p{
    position: relative;
    width: 90%;
    height: 325px;
    flex-shrink: 0;
    color: #202938;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0;
    animation: view-p linear forwards;
    animation-timeline: view();
    animation-range-start:bottom 500px;
    animation-range-end:30%;
}
@keyframes view-p {
    from{
        transform: translateZ(100%);
    }
    to{
        scale: 1;
        opacity: 1;
        transform: translateZ(5%);
    }
}